<div class="container py-3">
  <div class="row">
    <% breadcrumb :shrines %>
    <div class="col-lg-7">
      <div class="d-flex">
        <h2>神社一覧</h2>
        <div class="mt-3">
          <%= link_to "閲覧数順", shrines_path(sort: "views"), class:"mx-2" %>/
          <%= link_to "ブックマーク数順", shrines_path(sort: "bookmarks"), class:"mr-2" %>/
          <%= link_to "投稿数順", shrines_path(sort: "posts") %>
        </div>
      </div>
      <% @shrines.each do |shrine| %>
        <div class="card shadow p-0 mb-3">
          <%= link_to shrine_path(shrine), {class:"text-reset"} do %>
            <div class="d-flex">
              <% shrine.shrine_images.first(2).each do |image| %>
                <%= attachment_image_tag image, :image, style:"width: 48%; height: auto; margin: 1%;" %>
              <% end %>
            </div>
            <div class="card-body p-2 pl-4">
              <h5><%= shrine.name %></h5>
              <p class="m-0"><%= shrine.address %></p>
            </div>
          <% end %>
          <ul class="list-group">
            <li class="list-group-item">
              <%= shrine.introduction.truncate(70) %>
            </li>
            <li class="list-group-item">祭神:
              <% shrine.gods.each do |god| %>
                <%= link_to god.god_name, search_path(content: god.god_name, model: 'god'), class:"text-reset ml-0" %>
              <% end %>
            </li>
            <li class="list-group-item">
              <% shrine.tags.each do |tag| %>
                <%= link_to tag.tag_name + "(#{tag.shrine.count})", search_path(content: tag.tag_name, model: 'tag'), class:"tag text-reset ml-0" %>
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
      <div class="d-flex justify-content-center"><%= paginate @shrines %></div>
    </div>

    <div class="col-lg-5">
      <h2>新着投稿<small>(5件)</small></h2>
      <% @posts.each do |post| %>
        <div class="card shadow p-2 mb-2">
          <div class="card-header mb-1 d-flex justify-content-between">
            <%= link_to  user_path(post.user) do %>
              <%= attachment_image_tag post.user, :profile_image, :fill,35,35, class:"rounded-circle" %>
              <%= post.user.name %>
            <% end %>
            <small class="text-muted pt-2">参拝日:<%= post.visit_date.strftime("%Y年%m月%d日") %></small>
          </div>
          <%= link_to shrine_post_path(post.shrine, post), {class:"text-reset"} do %>
            <div class="col-12 p-0 d-flex flex-wrap">
              <% post.post_images.first(3).each do |post_image| %>
                <%= attachment_image_tag post_image, :image, style:"width: 31%; margin: 0 1%;" %>
              <% end %>
            </div>
            <%= post.body.truncate(50) %>
          <% end %>
        </div>
      <% end %>
      <h2>おすすめタグ<small>(10件)</small></h2>
        <div class="d-flex flex-wrap border rounded  bg-light shadow p-2">
          <% @tags.each do |tag| %>
            <%= link_to tag.tag_name + "(#{tag.shrine.count})", search_path(content: tag.tag_name, model: 'tag'), class:"tag text-reset mx-2" %>
          <% end %>
        </div>
    </div>
  </div>
</div>
