<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="card shadow p-0 mb-3">
        <div class="card-body d-flex justify-content-between">
          <h4><%= @shrine.name %></h4>
          <h3 id="bookmark_<%= @shrine.id %>">
            <%= render "bookmarks/bookmark", shrine:@shrine %>
          </h3>
        </div>
        <% @shrine.shrine_images.first(1).each do |image| %>
          <%= attachment_image_tag image, :image %>
        <% end %>
        <ul class="list-group">
          <li class="list-group-item">
            <%= @shrine.introduction %>
          </li>
          <li class="list-group-item">祭神：
            <% @shrine.gods.each do |god| %>
              <%= god.god_name %>
            <% end %>
          </li>
          <li class="list-group-item">
            <% @shrine.tags.each do |tag| %>
              <%= link_to tag.tag_name + "(#{tag.shrine.count})", search_tag_path(tag_name: tag.tag_name) %>
            <% end %>
          </li>
        </ul>
          <!--%= @shrine.latitude %>-->
          <!--%= @shrine.longitude %>-->
      </div>
       <div id="map" style="width: 100%; height: 350px;">
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th>住所</th>
            <td><%= @shrine.address %></td>
          </tr>
          <tr>
            <th>最寄り駅</th>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5">
      <%= link_to '新規投稿', new_shrine_post_path(@shrine, @shrine.posts), class:"btn btn-sm btn-primary" %>
      <% @posts.each do |post| %>
        <%= post.user.name %>
        <%= post.body %>
        <%= post.visit_date %>
        <% post.post_images.first(1).each do |post_image| %>
          <%= attachment_image_tag post_image, :image %>
        <% end %>
        <%= link_to '編集', edit_shrine_post_path(post.shrine, post), class:"btn btn-sm btn-success" %>
        <%= link_to '削除', shrine_post_path(post.shrine, post), method: :delete, class:"btn btn-sm btn-danger" %>
      <% end %>
    </div>
  </div>
</div>