<div class="container py-5">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1>編集画面</h1>
      <%= form_with model: [:admin, @shrine], local: true do |f| %>
        <div class="form-row mb-3">
          <%= f.label :name, "神社名", class:"col-2" %>
          <%= f.text_field :name, class:"col-7" %>
        </div>
        <div class="form-row mb-3">
          <%= f.label :address, "住所", class:"col-2" %>
          <%= f.text_area :address, class:"col-7" %>
        </div>
        <div class="form-row mb-3">
          <%= f.label :introduction, "紹介文", class:"col-2" %>
          <%= f.text_area :introduction, rows: 6, class:"col-7" %>
        </div>
        <div class="form-row mb-3">
          <%= f.label :god_name, "祭神", class:"col-2" %>
          <%= f.text_field :god_name, value: @shrine_gods, class:"col-7" %>
        </div>
        <div class="form-row mb-3">
          <%= f.label :tag_name, "タグ", class:"col-2" %>
          <%= f.text_field :tag_name, value: @shrine_tags, class:"col-7" %>
        </div>
        <div class="form-row mb-3">
          <%= f.label :shrine_images_images, "画像", class:"col-2" %>
          <%= f.attachment_field :shrine_images_images, multiple: true, class:"col-7 p-0" %>
        </div>
        <%= f.submit "変更を保存", class:"btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
</div>
