<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h2>マイページ</h2>
      <div class="d-flex">
        <h5>登録情報</h5>
        <% if @user == current_user %>
          <%= link_to '編集', edit_user_path(@user), class:"btn btn-sm btn-success ml-3" %>
        <% end %>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>氏名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>紹介文</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>プロフィール画像</th>
          <td><%= attachment_image_tag @user, :profile_image, :fill, 50, 50 %></td>
        </tr>
      </table>
      <h3>参拝記録</h3>
      <%= link_to "新しい順", user_path(id: @user.id, sort: "latest") %> |
      <%= link_to "古い順", user_path( @user) %>
      <% @posts.each do |post| %>
        <div class="card mb-3">
          <div class="row">
            <div class="col-4"><%= attachment_image_tag post.post_images.first, :image, :fill,250,170 %></div>
            <div class="col-8">
              <div class="card-body">
                <h4 class="card-title"><%= link_to post.shrine.name, shrine_path(post.shrine) %></h4>
                <p class="card-text"><%= post.body.truncate(50) %></p>
                <p class="card-text"><small class="text-muted">参拝日:<%= post.visit_date.strftime("%Y年%m月%d日") %></small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-4">
      <div class="border">
        <h3 class="border-bottom">ブックマーク</h3>
        <% if @bookmark_shrines.present? %>
          <% @bookmark_shrines.each do |shrine| %>
            <div class="media py-2 ml-1 border-bottom">
              <%= attachment_image_tag shrine.shrine_images.first, :image, :fill,50,50, class:"rounded" %>
              <h5 class="media-body pt-3 pl-2"><%= link_to shrine.name, shrine_path(shrine) %></h5>
            </div>
          <% end %>
        <% else %>
          <h5>ブックマークされた神社はありません</h5>
        <% end %>
      </div>
      <div class="border my-3">
        <h3 class="border-bottom">フォローユーザ一覧</h3>
        <% if @followings.exists? %>
          <% @followings.each do |following| %>
            <div class="media py-2  border-bottom">
              <%= attachment_image_tag following, :profile_image, :fill,50,50, class:"rounded" %>
              <h5 class="media-body pt-3 pl-2"><%= link_to following.name, user_path(following) %></h5>
            </div>
          <% end %>
        <% else %>
          <p>フォローしているユーザはいません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>