<div class="container py-3">
  <div class="row">
    <% breadcrumb :user, @user %>
    <div class="col-lg-8">
      <h2>マイページ</h2>
      <div class="d-flex">
        <h5 class="m-0 mt-1">登録情報</h5>
        <% if @user == current_user %>
          <%= link_to "編集", edit_user_path(@user), class:"btn btn-sm btn-outline-success ml-3" %>
        <% else %>
          <h5 id="follow" class="ml-3 mb-0"><%= render "users/follow", user: @user %></h5>
        <% end %>
      </div>
      <div class="media border bg-light shadow-sm p-1 mt-2 mb-3">
        <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, class:"rounded-circle mr-3 mt-1 ml-1" %>
        <div class="media-body">
          <h4><%= @user.name %></h4>
          <%= @user.introduction %>
        </div>
      </div>

      <div class="d-flex mb-1">
        <h3>参拝記録</h3>
        <div class="mt-2">
          <%= link_to "新しい順", user_path(@user), class:"ml-2 mr-1" %> /
          <%= link_to "古い順", user_path(id: @user.id, sort: "oldest"), class:"ml-1" %>
        </div>
      </div>
      <% @posts.each do |post| %>
        <div class="card shadow mb-3">
          <div class="row">
            <div class="col-4"><%= attachment_image_tag post.post_images.first, :image, class:"w-100" %></div>
            <div class="col-8">
              <div class="card-body py-2">
                <h5 class="card-title"><%= link_to post.shrine.name, shrine_path(post.shrine) %></h5>
                <p class="card-text"><%= link_to post.body.truncate(50), shrine_post_path(post.shrine, post), class:"text-reset" %></p>
                <p class="card-text"><small class="text-muted">参拝日:<%= post.visit_date.strftime("%Y年%m月%d日") %></small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @posts %>
    </div>

    <div class="col-lg-4 mypage-sidebar">
      <div class="mb-3 sidebar-content">
        <h3>ブックマーク</h3>
        <% if @bookmark_shrines.present? %>
          <div class="border bg-light shadow-sm">
            <% @bookmark_shrines.each do |shrine| %>
              <div class="media py-2 ml-1 border-bottom">
                <%= attachment_image_tag shrine.shrine_images.first, :image, :fill,50,50, class:"rounded" %>
                <h5 class="media-body pt-3 pl-2"><%= link_to shrine.name, shrine_path(shrine) %></h5>
              </div>
            <% end %>
          </div>
        <% else %>
          <h5>ブックマークされた神社はありません</h5>
        <% end %>
      </div>
      <div class="sidebar-content">
        <h3>フォローユーザ</h3>
        <% if @followings.present? %>
          <div class="border bg-light shadow-sm">
            <% @followings.each do |following| %>
              <div class="media py-2 ml-1 border-bottom">
                <%= attachment_image_tag following, :profile_image, :fill,50,50, class:"rounded-circle" %>
                <h5 class="media-body pt-3 pl-2"><%= link_to following.name, user_path(following) %></h5>
              </div>
            <% end %>
          </div>
        <% else %>
          <p>フォローしているユーザはいません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
