<div id="main-visual">
  <div class="main-image1"></div>
  <div class="main-image2"></div>
  <div class="main-image3"></div>
  <div class="main-image4"></div>
</div>

<div class="top-content-light d-flex fadein-right">
  <div class="w-50"><%= image_tag asset_path("omairi.jpg"), class:"w-100" %></div>
  <div class="d-flex flex-column align-items-center m-auto w-25">
    <h2><span class="underline-dark">参拝する</span></h2>
    <p class="mt-2 mb-4">心を込めて祈りを捧げるにあたり丁寧な作法を心がけたいことは自然なことです。作法に込められた「心」についても理解いただければ幸いです。</p>
    <p><%= link_to "詳しく知る >", manner_path, class:"btn btn-outline-success rounded-pill" %></p>
  </div>
</div>

<div class="top-content-dark d-flex fadein-left">
  <div class="d-flex flex-column align-items-center m-auto w-25 text-white">
    <h2><span class="underline-light">共有する</span></h2>
    <p class="mt-2">あなたのお参りした神社の感想や写真を投稿しましょう。投稿を通じて皆様の輪を広げていきましょう。</p>
    <p><%= link_to "神社一覧 >", shrines_path, class:"btn btn-outline-light rounded-pill" %></p>
  </div>
  <div class="w-50 d-flex flex-wrap">
    <%= image_tag asset_path("inari1.jpg"), class:"w-50" %>
    <%= image_tag asset_path("inari2.jpg"), class:"w-50" %>
    <%= image_tag asset_path("inari3.jpg"), class:"w-50" %>
    <%= image_tag asset_path("inari4.jpg"), class:"w-50" %>
  </div>
</div>

<div class="top-content-light p-3 d-flex">
  <div id="map-container" class="w-50">
    <div class="canvas"></div>
  </div>
  <div class="d-flex flex-column align-items-center m-auto w-25">
    <h2><span class="underline-dark">見つける</span></h2>
    <p class="mt-2">地域・祭神・御利益であなたがお参りしたい神社を見つけることができます。検索フォームでは複数ワードでの検索ができます。また現在地からも検索できます。</p>
    <p><%= link_to "現在地から検索 >", location_path, class:"btn btn-outline-success rounded-pill" %></p>
  </div>
</div>
