<ul class="dropdown-menu">
  <li class="dropright drop-hover"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">北海道・東北地方</a>
    <ul class="dropdown-menu">
      <li><%= link_to "北海道", search_path(content: '北海道', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "青森県", search_path(content: '青森', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "岩手県", search_path(content: '岩手', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "宮城県", search_path(content: '宮城', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "秋田県", search_path(content: '秋田', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "山形県", search_path(content: '山形', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "福島県", search_path(content: '福島', model: 'tag'), class:"dropdown-item" %></li>
    </ul>
  </li>
  <li class="dropright drop-hover"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">関東地方</a>
    <ul class="dropdown-menu">
      <li><%= link_to "茨城県", search_path(content: '茨城', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "栃木県", search_path(content: '栃木', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "群馬県", search_path(content: '群馬', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "埼玉県", search_path(content: '埼玉', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "千葉県", search_path(content: '千葉', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "東京都", search_path(content: '東京', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "神奈川県", search_path(content: '神奈川', model: 'tag'), class:"dropdown-item" %></li>
    </ul>
  </li>
  <li class="dropright drop-hover"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">中部地方</a>
    <ul class="dropdown-menu">
      <li><%= link_to "新潟県", search_path(content: '新潟', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "富山県", search_path(content: '富山', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "石川県", search_path(content: '石川', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "福井県", search_path(content: '福井', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "山梨県", search_path(content: '山梨', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "長野県", search_path(content: '長野', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "岐阜県", search_path(content: '岐阜', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "静岡県", search_path(content: '静岡', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "愛知県", search_path(content: '愛知', model: 'tag'), class:"dropdown-item" %></li>
    </ul>
  </li>
  <li class="dropright drop-hover"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">近畿地方</a>
    <ul class="dropdown-menu">
      <li><%= link_to "三重県", search_path(content: '三重', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "滋賀県", search_path(content: '滋賀', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "京都府", search_path(content: '京都', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "大阪府", search_path(content: '大阪', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "兵庫県", search_path(content: '兵庫', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "奈良県", search_path(content: '奈良', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "和歌山県", search_path(content: '和歌山', model: 'tag'), class:"dropdown-item" %></li>
    </ul>
  </li>
  <li class="dropright drop-hover"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">中国地方</a>
    <ul class="dropdown-menu">
      <li><%= link_to "鳥取県", search_path(content: '鳥取', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "島根県", search_path(content: '島根', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "岡山県", search_path(content: '岡山', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "広島県", search_path(content: '広島', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "山口県", search_path(content: '山口', model: 'tag'), class:"dropdown-item" %></li>
    </ul>
  </li>
  <li class="dropright drop-hover"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">四国地方</a>
    <ul class="dropdown-menu">
      <li><%= link_to "徳島県", search_path(content: '徳島', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "香川県", search_path(content: '香川', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "愛媛県", search_path(content: '愛媛', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "高知県", search_path(content: '高知', model: 'tag'), class:"dropdown-item" %></li>
    </ul>
  </li>
  <li class="dropright drop-hover"><a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">九州・沖縄地方</a>
    <ul class="dropdown-menu">
      <li><%= link_to "福岡県", search_path(content: '福岡', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "佐賀県", search_path(content: '佐賀', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "長崎県", search_path(content: '長崎', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "熊本県", search_path(content: '熊本', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "大分県", search_path(content: '大分', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "宮崎県", search_path(content: '宮崎', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "鹿児島県", search_path(content: '鹿児島', model: 'tag'), class:"dropdown-item" %></li>
      <li><%= link_to "沖縄県", search_path(content: '沖縄', model: 'tag'), class:"dropdown-item" %></li>
    </ul>
  </li>
</ul>